---

import Card from "../Card.astro";---
<section class="container py-16 md:py-20" id="services">
    <h2
            class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
    >
        Here's what I'm good at
    </h2>
    <h3
            class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
    >
        These are the services Ioffer
    </h3>

    <div
            class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-3"
    >
        <Card
                title="Web Development"
                description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                image="/assets/img/icon-development-black.svg"
                hoverImage="/assets/img/icon-development-white.svg"
                imageAlt="development icon"
        />
        <Card
                title="Content Marketing"
                description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                image="/assets/img/icon-content-black.svg"
                hoverImage="/assets/img/icon-content-white.svg"
                imageAlt="content marketing icon"
        />
        <Card
                title="Mobile Development"
                description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                image="/assets/img/icon-mobile-black.svg"
                hoverImage="/assets/img/icon-mobile-white.svg"
                imageAlt="mobile development icon"
        />
        <Card
                title="Email Marketing"
                description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                image="/assets/img/icon-email-black.svg"
                hoverImage="/assets/img/icon-email-white.svg"
                imageAlt="email Marketing icon"
        />
        <Card
                title="Theme Design"
                description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                image="/assets/img/icon-design-black.svg"
                hoverImage="/assets/img/icon-design-white.svg"
                imageAlt="theme design icon"
        />
        <Card
                title="Web Design"
                description="Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                image="/assets/img/icon-graphics-black.svg"
                hoverImage="/assets/img/icon-graphics-white.svg"
                imageAlt="graphic design icon"
        />
    </div>
</section>