---

import StatCard from "../StatCard.astro";---
<section
        class="bg-cover bg-top bg-no-repeat pb-16 md:py-16 lg:py-24"
        style="background-image: url(/assets/img/experience-figure.png)"
        id="statistics"
>
    <div class="container">
        <div
                class="mx-auto w-5/6 bg-white py-16 shadow md:w-11/12 lg:py-20 xl:py-24 2xl:w-full"
        >
            <div class="grid grid-cols-2 gap-5 md:gap-8 xl:grid-cols-4 xl:gap-5">
                <StatCard
                        icon="/assets/img/icon-project.svg"
                        iconAlt="icon project"
                        value={12}
                        title="Finished Projects"
                />

                <StatCard
                        icon="/assets/img/icon-award.svg"
                        iconAlt="icon award"
                        value={3}
                        title="Awards Won"
                />

                <StatCard
                        icon="/assets/img/icon-happy.svg"
                        iconAlt="icon happy clients"
                        value={8}
                        title="Happy Clients"
                />

                <StatCard
                        icon="/assets/img/icon-puzzle.svg"
                        iconAlt="icon puzzle"
                        value={99}
                        title="Bugs Fixed"
                />
            </div>
        </div>
    </div>
</section>